main > header {
  display: none;
}

main .top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0.5px 0px #DDDFE6;
  height: 100px;
}

.top-nav ul {
  list-style-type: none;
}

.top-nav ul li {
  margin-right: 40px;
  display: inline-block;
}

.top-nav ul li a{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

main .headline-section {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 100px;
}

footer .desktop-image1 {
  display: block;
  min-height: 678.4px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.headline-section footer {
  flex-grow: 1;
  flex-basis: 0;
}

footer :nth-child(2n) {
  display: none;
}

.headline-section .content {
  padding: 150px 50px 0 100px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}

.content header h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1A2236;
}

.headline-section .content p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1A2236;
  margin: 50px 0;
  margin-right: 30px;
  width: 484px;
}

.headline-section .start-collab-btn {
  padding: 20px 40px;
  width: 254px;
  height: 70px;
}

main .dots-img{
  display: block;
  position: absolute;
  max-width: 175px;
  max-height: 175px;
  bottom: 0;
  right: 0;
}

/* ---------------------WORKS-SECTION----------------------- */

.works-section h1{
  transform: rotate(-90deg);
  font-size: 110px;
  margin: 80px;
}

.works-section .projects-container {
  display: flex;
  flex-direction: row;
}

.works-section .projects-container:nth-last-child(-n+4) .bottom-content, 
.works-section .projects-container:nth-child(4),
.works-section .projects-container:nth-child(6) 
{
  display: none;
}

.projects-container .proj-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 558px;
}

.projects-container .proj-content .bottom-content {
  position: absolute;
  padding: 30px 50px;
  top: 200px;
  bottom: 0;
  width: 100%;
}

.projects-container  .bottom-content h3 {
  font-weight: 700;
  font-size: 60px;
}

.projects-container  .bottom-content ul li {
  padding: 10px 20px;
  margin: 30px 20px 60px 0;
  font-weight: 300;
  font-size: 20px;
}

.projects-container .bottom-content .see-project-btn {
  background-color: #fff;
  color: #1a2236;
}

.projects-container .bottom-content .see-project-btn:hover{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

main .works-section {
  position: relative;
}

.works-section .projects-container .dots-img {
  position: relative;
  top: 80px;
  right: 200px;
}

.projects-container.p2 img {
  width: 465px;
  height: 270px;
}

.projects-container .works-section-img {
  display: block;
}

.projects-container.p5 img {
  display: block;
  position: absolute;
  top: 905px;
  right: 0;
  width: 664.2px;
  height: 270px;
}

.projects-container.p3 img {
  width: 800px;
  height: 465px;
}

/* ------------------About-section---------------------- */

main .about-section {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 100px;
}